.App {
  text-align: center;
  /* background-color: #092c55; */
  /* min-height: 30vh; */
  font-family: 'Poiret One', cursive;
  letter-spacing: 10px;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(53, 53, 53, 0.714);
  letter-spacing: 10px;
}
input#buscador {
  width: 40%;
  padding: 12px;
  border: none;
  border-radius: 10px;
}
.boton {
  padding: 12px 15px;
  border: none;
  border-radius: 20px;
  margin-left: 10px;
}
.boton:hover {
  background-color: #14a237d7;
  border: none;
}
.movies {
  /* background-color: #092c55; */
  min-height: 100vh;
}
.link-home img {
  display: flex;
  padding: 20px;
  width: 40px;
}
